DDEMetadata20231103.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified"
  targetNamespace="https://www.ddeworld.org/resource/1.0/metadata"
  xmlns:metadata="https://www.ddeworld.org/resource/1.0/metadata"  xmlns:xlink="http://www.w3.org/1999/xlink">
  <xs:annotation>
    <xs:documentation>Generated by Stephen M. Richard 2023-11-03. </xs:documentation>
  </xs:annotation>

  <xs:element name="MD_Metadata">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="metadataIdentifier" type="metadata:MD_Identifier"/>
        <xs:element name="metadataStandardName" type="xs:string"
          default="DDE S01-2023: Geosciences Information Metadata"/>
        <xs:element name="metadataResponsibleParty" type="metadata:CI_Responsibility"
          maxOccurs="unbounded"/>
        <xs:element name="metadataDate" type="metadata:CI_Date" minOccurs="1" maxOccurs="unbounded"/>
        <xs:element name="identificationInfo" type="metadata:MD_Identification"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>

  <xs:complexType name="MD_Identifier">
    <xs:sequence>
      <xs:element name="authority" type="xs:string" minOccurs="0" maxOccurs="1"/>
      <xs:element name="code" type="xs:anyURI"/>
      <xs:element name="codeSpace" type="xs:string" minOccurs="0" maxOccurs="1"/>
      <xs:element name="version" type="xs:string" minOccurs="0" maxOccurs="1"/>
      <xs:element name="description" type="xs:string" minOccurs="0" maxOccurs="1"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="MD_Identification">
    <xs:sequence>
      <xs:element name="resourceIdentifier" type="metadata:MD_Identifier"/>
      <xs:element name="title" type="xs:string"/>
      <xs:element name="alternateTitle" type="xs:string" minOccurs="0" maxOccurs="unbounded"/>
      <xs:element name="resourceDate" type="metadata:CI_Date" minOccurs="0" maxOccurs="unbounded"/>
      <xs:element name="abstract" type="xs:string"/>
      <xs:element name="keyword" type="metadata:StringW_ID" minOccurs="1" maxOccurs="unbounded"/>
      <xs:element name="topicCategory" type="metadata:TopicCategoryCode" minOccurs="1"
        maxOccurs="unbounded"/>
      <xs:element name="resourceType" type="metadata:ResourceTypeCode" maxOccurs="unbounded"/>
      <xs:element name="resourceResponsibleParty" type="metadata:CI_Responsibility" minOccurs="0"  maxOccurs="unbounded"/>
      <xs:element name="browseGraphic" type="metadata:CI_OnlineResource" minOccurs="0"
        maxOccurs="unbounded"/>
      <xs:element name="additionalDocumentation" type="xs:string" minOccurs="0" maxOccurs="1"/>
      <xs:element name="language" type="xs:string" minOccurs="1" maxOccurs="1"/>
      <xs:element name="characterEncoding" type="xs:string" minOccurs="1" maxOccurs="1"
        default="utf8">
        <xs:annotation>
          <xs:documentation>Use IANA Character Set register:
            http://www.iana.org/assignments/character-sets. These are the official names for
            character sets that may be used on the Internet and may be referred to in Internet
            documentation. These names are expressed in ANSI_X3.4-1968 which is commonly called
            US-ASCII or simply ASCII</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="restriction" type="metadata:MD_Constraints" minOccurs="1"
        maxOccurs="unbounded"/>
      <xs:element name="edition" type="xs:string" minOccurs="0" maxOccurs="1"/>
      <xs:element name="dataQuality" type="metadata:StringW_ID" minOccurs="0" maxOccurs="1"/>
      <xs:element name="lineage" type="metadata:StringW_ID" minOccurs="0" maxOccurs="1"/>
      <xs:element name="source" type="metadata:StringW_ID" minOccurs="0" maxOccurs="unbounded"/>
      <xs:element name="acquisitionType" type="metadata:AcquisitionCode" minOccurs="0"
        maxOccurs="unbounded"/>
      <xs:element name="geoTime" type="xs:string" minOccurs="1" maxOccurs="1"/>
      <xs:element name="geographicExtent" type="metadata:EX_GeographicExtent" minOccurs="0"
        maxOccurs="unbounded"/>
      <xs:element name="temporalExtent" type="metadata:EX_TemporalExtent" minOccurs="0"
        maxOccurs="unbounded"/>
      <xs:element name="associatedResource" type="metadata:CI_OnlineResource" minOccurs="0"
        maxOccurs="unbounded"/>
      <xs:element name="metadataReference" type="metadata:CI_OnlineResource" minOccurs="0"
        maxOccurs="unbounded"/>
      <xs:element name="distributionInfo" type="metadata:MD_Distribution" maxOccurs="unbounded"/>
      <xs:element name="serviceIdentificationInfo" type="metadata:SV_ServiceIdentification"
        minOccurs="0" maxOccurs="1"/>
      <xs:element name="imageryInfo" type="metadata:MD_Imagery" minOccurs="0" maxOccurs="1"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="EX_TemporalExtent">
    <xs:sequence>
      <xs:element name="beginName" type="xs:string"/>
      <xs:element name="beginIdentifier" type="metadata:MD_Identifier" minOccurs="0" maxOccurs="1"/>
      <xs:element name="endName" type="xs:string" minOccurs="0" maxOccurs="1"/>
      <xs:element name="endIdentifier" type="metadata:MD_Identifier" minOccurs="0" maxOccurs="1"/>
      <xs:element name="beginDate" type="metadata:DateTime" minOccurs="0" maxOccurs="1"/>
      <xs:element name="endDate" type="metadata:DateTime" minOccurs="0" maxOccurs="1"/>
      <xs:element name="beginCoordinate" type="xs:decimal" minOccurs="0" maxOccurs="1"/>
      <xs:element name="endCoordinate" type="xs:decimal" minOccurs="0" maxOccurs="1"/>
      <xs:element name="coordinateUnits" type="metadata:TemporalUnitsEnum" minOccurs="0"
        maxOccurs="1"/>
    </xs:sequence>
  </xs:complexType>

  <xs:simpleType name="TemporalUnitsEnum">
    <xs:restriction base="xs:token">
      <xs:enumeration value="Ka"/>
      <xs:enumeration value="Ma"/>
      <xs:enumeration value="Ga"/>
    </xs:restriction>
  </xs:simpleType>

  <xs:complexType name="EX_GeographicExtent">
    <xs:sequence>
      <xs:element name="geographicIdentifier" type="metadata:MD_Identifier" minOccurs="0"
        maxOccurs="unbounded"/>
      <xs:element name="elevation" type="xs:string" minOccurs="0" maxOccurs="1"/>
      <xs:element name="westBoundLongitude" type="xs:decimal" minOccurs="0" maxOccurs="1"/>
      <xs:element name="eastBoundLongitude" type="xs:decimal" minOccurs="0" maxOccurs="1"/>
      <xs:element name="southBoundLatitude" type="xs:decimal" minOccurs="0" maxOccurs="1"/>
      <xs:element name="northBoundLatitude" type="xs:decimal" minOccurs="0" maxOccurs="1"/>
    </xs:sequence>
  </xs:complexType>
  
  <xs:complexType name="MD_Constraints">
    <xs:sequence>
      <xs:element name="restrictionText" type="metadata:StringW_ID" minOccurs="0"/>
      <xs:element name="restrictionCode" type="metadata:RestrictionCode" minOccurs="0"
        maxOccurs="unbounded"/>
    </xs:sequence>
  </xs:complexType>
  
  <xs:complexType name="SV_ServiceIdentification">
    <xs:sequence>
      <xs:element name="serviceType" type="xs:string" maxOccurs="unbounded"/>
      <xs:element name="containOperations" type="xs:string" minOccurs="0" maxOccurs="unbounded"/>
      <xs:element name="accessProperties" type="xs:string" minOccurs="0" maxOccurs="1"/>
      <xs:element name="operatedDataset" type="metadata:MD_Identifier" minOccurs="0"
        maxOccurs="unbounded"/>
      <!-- see https://www.energistics.org/sites/default/files/2023-03/EIP_v1.1.pdf section 4.6.2 -->
      <xs:element name="endpointDescription" type="metadata:CI_OnlineResource" minOccurs="0"
        maxOccurs="1"/>
    </xs:sequence>
  </xs:complexType>
  
  <xs:complexType name="CI_OnlineResource">
    <xs:sequence>
      <xs:element name="title" type="xs:string" minOccurs="0" maxOccurs="1"/>
      <xs:element name="applicationProfile" type="metadata:StringW_ID" minOccurs="0"
        maxOccurs="unbounded"/>
      <xs:element name="description" type="xs:string" minOccurs="0" maxOccurs="1"/>
      <xs:element name="linkage" type="xs:anyURI"/>
      <xs:element name="function" type="metadata:FunctionCode" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>
  
  <xs:complexType name="MD_Imagery">
    <xs:sequence>
      <xs:element name="sensor" type="xs:string" minOccurs="0" maxOccurs="1"/>
      <xs:element name="platform" type="xs:string" minOccurs="0" maxOccurs="1"/>
      <xs:element name="startTime" type="metadata:DateTime" minOccurs="0" maxOccurs="1"/>
      <xs:element name="endTime" type="metadata:DateTime" minOccurs="0" maxOccurs="1"/>
      <xs:element name="signalGenerator" type="xs:string" minOccurs="0" maxOccurs="1"/>
      <xs:element name="wavelength" type="xs:string" minOccurs="0" maxOccurs="1"/>
      <xs:element name="processingLevel" type="metadata:ProcessedLevelCode" minOccurs="0"
        maxOccurs="1"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="MD_Distribution">
    <xs:sequence>
      <xs:element name="distributionFormat" type="metadata:StringW_ID" minOccurs="0"
        maxOccurs="unbounded"/>
      <xs:element name="onlineResource" minOccurs="1" maxOccurs="unbounded"
        type="metadata:CI_OnlineResource"/>
      <xs:element ref="metadata:spatialRepresentationInfo" minOccurs="0" maxOccurs="1"/>
      <xs:element name="distributionResponsibleParty" type="metadata:CI_Responsibility"
        minOccurs="0" maxOccurs="unbounded"/>
    </xs:sequence>
  </xs:complexType>

  <xs:element name="spatialRepresentationInfo">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="spatialRepresentationType" type="metadata:SpatialRepresentationTypeCode"/>
        <xs:element name="spatialResolution" type="xs:string" minOccurs="0" maxOccurs="unbounded"/>
        <xs:element name="referenceSystemType" minOccurs="0" type="metadata:ReferenceSystemTypeCode"/>
        <xs:element name="referenceSystemIdentifier" type="metadata:MD_Identifier"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>

  <xs:complexType name="CI_Responsibility">
    <xs:sequence>
      <xs:element name="name" type="xs:string"/>
      <xs:element name="role" type="metadata:RoleTypeCode" minOccurs="1" maxOccurs="1"/>
      <xs:element name="identifier" minOccurs="0" type="metadata:MD_Identifier"/>
      <xs:element name="country" type="xs:NCName"/>
      <xs:element name="electronicMailAddress" type="xs:string" nillable="true"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="StringW_ID">
    <xs:simpleContent>
      <xs:extension base="xs:string">
        <xs:attribute name="uri" type="xs:anyURI" use="optional"/>
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>

  <xs:simpleType name="DateTime">
    <xs:annotation>
      <xs:documentation>DateTime element for DDE allows YYYY, YYYY-MM, YYYY-MM-DD, and
        YYYY-MM-DDThh:mm:ss </xs:documentation>
    </xs:annotation>
    <xs:union memberTypes="xs:date xs:dateTime xs:gYear xs:gYearMonth"/>
  </xs:simpleType>

  <!-- *********************************************************************** -->
  <!-- ***********************codelists ********************************** -->

  <xs:simpleType name="AcquisitionCode">
    <xs:restriction base="xs:token">
      <xs:enumeration value="geological mapping"/>
      <xs:enumeration value="survey"/>
      <xs:enumeration value="observation"/>
      <xs:enumeration value="direct observation"/>
      <xs:enumeration value="indirect observation"/>
      <xs:enumeration value="outcrop observation"/>
      <xs:enumeration value="remote sensing"/>
      <xs:enumeration value="drill borehole"/>
      <xs:enumeration value="borehole cuttings observation"/>
      <xs:enumeration value="geophysical log measurements"/>
      <xs:enumeration value="drill core observation"/>
      <xs:enumeration value="laboratory instrumentation"/>
      <xs:enumeration value="data integration synthesis"/>
      <xs:enumeration value="single published description"/>
      <xs:enumeration value="multiple sources"/>
      <xs:enumeration value="multiple outcrop observations"/>
      <xs:enumeration value="multiple published descriptions"/>
      <xs:enumeration value="digital conversion from published source"/>
      <xs:enumeration value="digital simulation"/>
      <xs:enumeration value="data and map compilation"/>
      <xs:enumeration value="web resource"/>
      <xs:enumeration value="other"/>
      <xs:enumeration value="missing"/>
    </xs:restriction>
  </xs:simpleType>

  <xs:simpleType name="DateTypeCode">
    <xs:restriction base="xs:token">
      <xs:enumeration value="adopted"/>
      <xs:enumeration value="creation"/>
      <xs:enumeration value="deprecated"/>
      <xs:enumeration value="distribution"/>
      <xs:enumeration value="expiry"/> 
      <xs:enumeration value="inForce"/>
      <xs:enumeration value="lastRevision"/>
      <xs:enumeration value="lastUpdate"/>
      <xs:enumeration value="nextUpdate"/>
      <xs:enumeration value="publication"/>
      <xs:enumeration value="released"/>
      <xs:enumeration value="revision"/>
      <xs:enumeration value="superseded"/>
      <xs:enumeration value="unavailable"/>
      <xs:enumeration value="validityBegins"/>
      <xs:enumeration value="validityExpires"/>

    </xs:restriction>
  </xs:simpleType>

  <xs:simpleType name="FunctionCode">
    <xs:restriction base="xs:token">
      <xs:enumeration value="browseGraphic"/>
      <xs:enumeration value="browsing"/>
      <xs:enumeration value="completeMetadata"/>
      <xs:enumeration value="coupledResource"/>
      <xs:enumeration value="download"/>
      <xs:enumeration value="emailService"/>
      <xs:enumeration value="fileAccess"/>
      <xs:enumeration value="order"/>
      <xs:enumeration value="search"/>
      <xs:enumeration value="information"/>
      <xs:enumeration value="offlineAccess"/>
      <xs:enumeration value="upload"/>
    </xs:restriction>
  </xs:simpleType>

  <xs:simpleType name="ProcessedLevelCode">
    <xs:restriction base="xs:token">
      <xs:enumeration value="Level_0"/>
      <xs:enumeration value="Level_1"/>
      <xs:enumeration value="Level_2"/>
      <xs:enumeration value="Level_3"/>
      <xs:enumeration value="Level_4"/>
    </xs:restriction>
  </xs:simpleType>

  <xs:simpleType name="ReferenceSystemTypeCode ">
    <xs:restriction base="xs:token">
      <xs:enumeration value="compoundEngineeringParametric"/>
      <xs:enumeration value="compoundEngineeringParametricTemporal"/>
      <xs:enumeration value="compoundEngineeringTemporal"/>
      <xs:enumeration value="compoundEngineeringVertical"/>
      <xs:enumeration value="compoundEngineeringVerticalTemporal"/>
      <xs:enumeration value="compoundGeographic2DParametric"/>
      <xs:enumeration value="compoundGeographic2DParametricTemporal"/>
      <xs:enumeration value="compoundGeographic2DTemporal"/>
      <xs:enumeration value="compoundGeographic2DVertical"/>
      <xs:enumeration value="compoundGeographicVerticalTemporal"/>
      <xs:enumeration value="compoundGeographic3DTemporal"/>
      <xs:enumeration value="compoundProjected2DParametric"/>
      <xs:enumeration value="compoundProjected2DParametricTemporal"/>
      <xs:enumeration value="compoundProjectedTemporal"/>
      <xs:enumeration value="compoundProjectedVertical"/>
      <xs:enumeration value="compoundProjectedVerticalTemporal"/>
      <xs:enumeration value="engineering"/>
      <xs:enumeration value="engineeringDesign"/>
      <xs:enumeration value="engineeringImage"/>
      <xs:enumeration value="geodeticGeocentric"/>
      <xs:enumeration value="geodeticGeographic2D"/>
      <xs:enumeration value="geodeticGeographic3D"/>
      <xs:enumeration value="geographicIdentifier"/>
      <xs:enumeration value="linear"/>
      <xs:enumeration value="parametric"/>
      <xs:enumeration value="projected"/>
      <xs:enumeration value="temporal"/>
      <xs:enumeration value="vertical"/>
    </xs:restriction>
  </xs:simpleType>

  <xs:simpleType name="ResourceTypeCode">
    <xs:restriction base="xs:token">
      <xs:enumeration value="Aggregate"/>
      <xs:enumeration value="Application"/>
      <xs:enumeration value="Web Application"/>
      <xs:enumeration value="Collection"/>
      <xs:enumeration value="Dataset"/>
      <xs:enumeration value="DataCatalog"/>
      <xs:enumeration value="GeographicDataset"/>
      <xs:enumeration value="NonGeographicDataset"/>
      <xs:enumeration value="Document"/>
      <xs:enumeration value="Article"/>
      <xs:enumeration value="Thesis"/>
      <xs:enumeration value="Book"/>
      <xs:enumeration value="Poster"/>
      <xs:enumeration value="WebPage"/>
      <xs:enumeration value="Image"/>
      <xs:enumeration value="Map"/>
      <xs:enumeration value="Photograph"/>
      <xs:enumeration value="ExplanatoryFigure"/>
      <xs:enumeration value="Initiative"/>
      <xs:enumeration value="FieldSession"/>
      <xs:enumeration value="LearningResource"/>
      <xs:enumeration value="Guide"/>
      <xs:enumeration value="Model"/>
      <xs:enumeration value="Movie"/>
      <xs:enumeration value="Repository"/>
      <xs:enumeration value="Semantic resource"/>
      <xs:enumeration value="DefinedTermSet"/>
      <xs:enumeration value="Series"/>
      <xs:enumeration value="Service"/>
      <xs:enumeration value="WebAPI"/>
      <xs:enumeration value="Software"/>
      <xs:enumeration value="Sound"/>
    </xs:restriction>
  </xs:simpleType>

  <xs:simpleType name="RestrictionCode">
    <xs:restriction base="xs:token">
      <xs:enumeration value="copyright"/>
      <xs:enumeration value="patent"/>
      <xs:enumeration value="patentPending"/>
      <xs:enumeration value="trademark"/>
      <xs:enumeration value="licence"/>
      <xs:enumeration value="intellectualPropertyRights"/>
      <xs:enumeration value="restricted"/>
      <xs:enumeration value="otherRestrictions"/>
      <xs:enumeration value="unrestricted"/>
      <xs:enumeration value="licenceUnrestricted"/>
      <xs:enumeration value="licenceEndUser"/>
      <xs:enumeration value="licenceDistributor"/>
      <xs:enumeration value="private"/>
      <xs:enumeration value="statutory"/>
      <xs:enumeration value="confidential"/>
      <xs:enumeration value="SBU"/>
      <xs:enumeration value="in-confidence"/>
    </xs:restriction>
  </xs:simpleType>

  <xs:simpleType name="RoleTypeCode ">
    <xs:annotation>
      <xs:documentation>Specifies the relationship of an agent to some aspect of a described
        resource. Copied from
        https://wiki.esipfed.org/ISO_19115-3_Codelists#CI_RoleCode</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:token">
      <xs:enumeration value="author">
        <xs:annotation>
          <xs:documentation>party who authored the resource</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="coAuthor"/>
      <xs:enumeration value="collaborator"/>
      <xs:enumeration value="contributor"/>
      <xs:enumeration value="custodian"/>
      <xs:enumeration value="distributor"/>
      <xs:enumeration value="editor"/>
      <xs:enumeration value="funder"/>
      <xs:enumeration value="mediator"/>
      <xs:enumeration value="originator"/>
      <xs:enumeration value="owner"/>
      <xs:enumeration value="pointOfContact"/>
      <xs:enumeration value="principalInvestigator"/>
      <xs:enumeration value="processor"/>
      <xs:enumeration value="publisher"/>
      <xs:enumeration value="resourceProvider"/>
      <xs:enumeration value="rightsHolder"/>
      <xs:enumeration value="sponsor"/>
      <xs:enumeration value="stakeholder"/>
      <xs:enumeration value="user"/>
    </xs:restriction>
  </xs:simpleType>

  <xs:simpleType name="ServiceTypeCode ">
    <xs:annotation>
      <xs:documentation>Codes to categorize service types. DDE- specific serivce types have
        DDE_prefix.</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:token">
      <xs:enumeration value="DataService>DataAccess"/>
      <xs:enumeration value="DataService>DataWorkflow"/>
      <xs:enumeration value="DataService>DataProcessing"/>
      <xs:enumeration value="DataService>MapView"/>
      <xs:enumeration value="DataService>Other"/>
      <xs:enumeration value="DDE_GeoscienceKnowledgeDirectory"/>
      <xs:enumeration value="DDE_GeoscienceKnowledgeContent"/>
      <xs:enumeration value="DDE_KnowledgeReasoning"/>
      <xs:enumeration value="DDE_DeepShovel"/>
      <xs:enumeration value="DDE_Scholar"/>
      <xs:enumeration value="DDE_OtherKnowledge"/>
      <xs:enumeration value="DDE_PlatformCatalogue"/>
      <xs:enumeration value="DDE_PlatformRegistry"/>
      <xs:enumeration value="DDE_PlatformModel"/>
      <xs:enumeration value="DDE_PlatformCloudComputing"/>
      <xs:enumeration value="DDE_PlatformAnnotation"/>
      <xs:enumeration value="DDE_API_Information"/>
      <xs:enumeration value="DDE_EarthExplorer"/>
      <xs:enumeration value="DDE_Platform>DataEvaluation"/>
      <xs:enumeration value="DDE_Platform>DataIdentifier"/>
      <xs:enumeration value="DDE_Platform>Other"/>
      <xs:enumeration value="Theme>MineralResourceAssessment"/>
      <xs:enumeration value="Theme>GeologicMapping"/>
      <xs:enumeration value="Theme>GeologicalTime"/>
      <xs:enumeration value="Theme>GeologicalOccurrence"/>
      <xs:enumeration value="Theme>Dinosaur"/>
      <xs:enumeration value="Theme>GeographicName"/>
      <xs:enumeration value="Theme>GeomorphologyMapping"/>
      <xs:enumeration value="Theme>GeoscienceStandards"/>
      <xs:enumeration value="Theme>Other"/>
      <xs:enumeration value="VocabularyService"/>
      <xs:enumeration value="RegistryService"/>
      <xs:enumeration value="DiscoveryService"/>
      <xs:enumeration value="ViewService"/>
      <xs:enumeration value="OtherService"/>
    </xs:restriction>
  </xs:simpleType>

  <xs:simpleType name="SpatialRepresentationTypeCode">
    <xs:annotation>
      <xs:documentation>Codes that specify the method used to represent geographic information in
        the resource</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:token">
      <xs:enumeration value="vector"/>
      <xs:enumeration value="grid"/>
      <xs:enumeration value="textTable"/>
      <xs:enumeration value="tin"/>
      <xs:enumeration value="stereoModel"/>
      <xs:enumeration value="video"/>
    </xs:restriction>
  </xs:simpleType>

  <xs:simpleType name="TopicCategoryCode">
    <xs:annotation>
      <xs:documentation>This codelist extends the ISO19115-1 codelist (see
        https://wiki.esipfed.org/ISO_19115-3_Codelists#MD_TopicCategoryCode) with more granular
        topic categories for geoscience resources. The categories that do not have an '8_' prefix
        are from the ISO19115-3 codelist, except for DataScience, which is added in this
        vocabulary.</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:token">
      <xs:enumeration value="farming"/>
      <xs:enumeration value="biota"/>
      <xs:enumeration value="boundaries"/>
      <xs:enumeration value="climatologyMeteorologyAtmosphere"/>
      <xs:enumeration value="economy"/>
      <xs:enumeration value="elevation"/>
      <xs:enumeration value="environment"/>
      <xs:enumeration value="geoscientificInformation"/>
      <xs:enumeration value="8_01-stratigraphy"/>
      <xs:enumeration value="8_02-paleontology"/>
      <xs:enumeration value="8_03-geochronology"/>
      <xs:enumeration value="8_04-sedimentology"/>
      <xs:enumeration value="8_05-magmaticPetrology"/>
      <xs:enumeration value="8_06-metamorphicPetrology"/>
      <xs:enumeration value="8_07-structureGeology"/>
      <xs:enumeration value="8_08-tectonics"/>
      <xs:enumeration value="8_09-geologicMapping"/>
      <xs:enumeration value="8_10-hydrogeology"/>
      <xs:enumeration value="8_11-engineeringGeologyGeotechnology"/>
      <xs:enumeration value="8_12-environmentalGeology"/>
      <xs:enumeration value="8_13-petroleumGeology"/>
      <xs:enumeration value="8_14-mathematicalGeoscience"/>
      <xs:enumeration value="8_15-marineGeology"/>
      <xs:enumeration value="8_16-mineralogy"/>
      <xs:enumeration value="8_17-gravimetricAndGravityExploration"/>
      <xs:enumeration value="8_18-geomagnetismAndMagneticExploration"/>
      <xs:enumeration value="8_19-geoelectricityAndElectricalExploration"/>
      <xs:enumeration value="8_20-seismologyAndSeismicExploration"/>
      <xs:enumeration value="8_21-nuclearGeophysicsandRadioactiveExploration"/>
      <xs:enumeration value="8_22-drillAndGeophysicalLogging"/>
      <xs:enumeration value="8_23-paleomagnetism"/>
      <xs:enumeration value="8_24-rockphysics"/>
      <xs:enumeration value="8_25-integratedgeophysics"/>
      <xs:enumeration value="8_26-geochemistry"/>
      <xs:enumeration value="8_27-remoteSensing"/>
      <xs:enumeration value="8_28-geomorphology"/>
      <xs:enumeration value="8_29-paleoclimatology"/>
      <xs:enumeration value="8_30-paleogeography"/>
      <xs:enumeration value="8_31-earthResource"/>
      <xs:enumeration value="8_32-geothermics"/>
      <xs:enumeration value="8_33-geoexploration"/>
      <xs:enumeration value="8_34-mining"/>
      <xs:enumeration value="8_35-economicalGeology"/>
      <xs:enumeration value="8_36-geologicalLiterature"/>
      <xs:enumeration value="8_37-planetaryGeology"/>
      <xs:enumeration value="8_38-biogeology"/>
      <xs:enumeration value="8_39-volcanology"/>
      <xs:enumeration value="8_40-forensicGeology"/>
      <xs:enumeration value="8_41-otherGeoscientificTopics"/>
      <xs:enumeration value="health"/>
      <xs:enumeration value="imageryBaseMapsEarthCover"/>
      <xs:enumeration value="intelligenceMilitary"/>
      <xs:enumeration value="inlandWaters"/>
      <xs:enumeration value="location"/>
      <xs:enumeration value="oceans"/>
      <xs:enumeration value="planningCadastre"/>
      <xs:enumeration value="society"/>
      <xs:enumeration value="structure"/>
      <xs:enumeration value="transportation"/>
      <xs:enumeration value="utilitiesCommunication"/>
      <xs:enumeration value="extraTerrestrial"/>
      <xs:enumeration value="disaster"/>
      <xs:enumeration value="dataScience"/>
      <xs:enumeration value="missing"/>
    </xs:restriction>
  </xs:simpleType>

</xs:schema>
